.navbar_buttons{
    background-color: transparent;
    padding: 10px;

    display: flex; flex-direction: row;
    align-items: center;

}

.navbar_buttons_active{
    background-color: transparent;
    padding: 10px;

    display: flex; flex-direction: row;
    align-items: center;
    
    cursor: pointer;
    user-select: none;
    font-weight: bold;
}

.navbar_buttons:hover{
    cursor: pointer;
    user-select: none;
    font-weight: bold;
}



.navbar_buttons .EMPTY{
    background-color: transparent;
    padding: 5px;
    display: inline;
}
.navbar_buttons:hover .EMPTY{
    display: none;
}

.navbar_buttons_active .EMPTY{
    background-color: transparent;
    padding: 5px;
    display: none;
}

.navbar_buttons .NOTEMPTY{
    background-color: transparent;
    text-align: right;
    width: 10px;
    display: none;
}

.navbar_buttons:hover .NOTEMPTY{
    display: inline;
    
}

.navbar_buttons_active .NOTEMPTY{
    background-color: transparent;
    text-align: right;
    width: 10px;
    display: inline;
    
}

