:root{
    --color-bg:#121212;
    --color-fg-1:#383838;
    --color-fg-2:#4a4a4a;
    --color-fg-3:#5f5f5f;
    --border-radius:30px;
    --text-color:white;
    color-scheme: dark;
}

:root{
    --sidebar-width:250px;
    --page-width:1400px;
    --content-width: calc(var(--page-width) - var(--sidebar-width));
}

@media (prefers-color-scheme:light) {
    :root{
        --color-bg:#FFFFFF;
        --color-fg-1:#e3e3e3;
        --color-fg-2:#d0d0d0;
        --color-fg-3:#bbbbbb;
        --text-color:black;
        color-scheme: light;
    }
}


@font-face {
    font-family: "Arvo";
    src:
        local("Arvo"), ;
}

*{
    font-family: "Arvo";
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body{
    background-color: var(--color-bg);
    color:white;

    

}
.app{
    height: calc(100vh);

}



.fixed{
    position: fixed;
    top: 0;left: 0;right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}
.fixed_container{
    max-width: var(--page-width);
    display: flex;
    flex-direction: column;
    flex-grow: 1;

}

.not_fixed{
    
    margin-top: 65px;
    margin-left:calc(calc(100% - var(--page-width)) / 2 + var(--sidebar-width));
    height: 100%;
    display: flex;
    flex-direction: column;

    max-width: var(--content-width)
}

@media screen and (max-width: 1415px) {
    .not_fixed{
        margin-left: var(--sidebar-width)
    }
}








