
.softwarespage_title{
    font-size: 3rem;
    text-align: center;
}

.softwarespage_content{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 
    
}

.softwarespage_subtitle{
    flex-grow: 1;
    min-width: 300px;
    max-width: 30%;
    
    margin-left: 10px;
    padding: 10px;
    border-left: 1rem solid var(--console-green);
    font-weight: bold;
    font-size: 1rem;
}
.softwarespage_subtitle div{
    background-color: transparent;
}

/*TO FIX PAGE, MAKE THE UPPER FIXED AND THE LOWER SCROLLABLE WITH MODULES :)))*/
.softwarespage_modules{

    flex-grow: 1;

    display: flex; flex-direction: column; gap: 10px;
    min-width: 300px;

   
    padding: 10px;
}

