.navbar_content_parent{

    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 40px;
}


.navbar_hamburger{
    background-color: var(--console-white);
    display: flex;
    width: 50px;

    display: none;
}

.navbar_hamburger_logo:hover{

    cursor: pointer;
    
}

.navbar_hamburger_logo{

    font-size: 2rem;
    background-color: transparent;
    
}

.navbar_content{
  
    background-color: white;
    
    
    display: flex;
    align-items: center;

    padding-left: 15px;
    gap:10px
}

.navbar_content a{
    text-decoration: none;
    background-color: transparent;
    color: inherit;
}

.navbar_element{
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    gap: 15px;
    align-items: center;
}

.navbar_element div{
    background-color: black;
    color: var(--console-white);
    padding: 4px;
    border-radius: 8px;
}


.navbar_element img{
    background-color: transparent;
    width: 25px;height: 25px;
}



@media screen and (max-width:800px){
    .navbar_element_LM{
        display: none;
    }

    .navbar_hamburger{
        display: block;
    }
}
