.navbar_content{
  
    background-color: white;
    
    
    display: flex;
    align-items: center;

    padding-left: 15px;
    height: 40px;
    gap:10px
}

.navbar_content a{
    text-decoration: none;
    background-color: transparent;
    color: inherit;
}

.navbar_element{
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    gap: 15px;
    align-items: center;
}

.navbar_element div{
    background-color: black;
    color: var(--console-white);
    padding: 4px;
    border-radius: 8px;
}


.navbar_element img{
    background-color: transparent;
    width: 25px;height: 25px;
}