
.contentpage h1{

    margin-bottom: 50px;
}

.contentpage h2{
    margin-top: 50px;
}

.contentpage h5{
    margin-left: 30px;
    color: var(--color-special1);
}


.contentpage p{
    margin-top: 20px;
    margin-bottom: 30px;
    
    line-height: 2.5;
    color: var(--text-color-alt);
}

.contentpage span{
    color: var(--color-special2);
    font-weight: bold;
}

.contentpage ul{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    color: var(--color-special2);
}

.contentpage img{
    width: 100%;
    background-color: var(--color-fg-2);
    padding: 20px;
 
    border-radius: 30px;
    box-shadow: -2px 2px 5px var(--color-fg-1), 2px 2px 5px var(--color-fg-1);
}

.contentpage address{
    text-decoration: underline;
}