.mainpage{
}

.mainpage_title{
    font-size: 3rem;
    text-align: center;
}

.mainpage_maininfo{

    margin-top: 50px;
    

    display: flex; flex-flow: row;
    flex-wrap: wrap; align-items: center;
    gap: 50px;
 
}

.mainpage_maininfo_logo{
    white-space: pre-wrap;

    text-align: center;
    font-weight: bold;
   
    margin-left: 10px;
    font-size: 3rem;
    flex: 1;
    min-width: 275px;
}
.mainpage_maininfo_text{
    text-align: left;

    margin:10px;

    min-width: 400px;
    flex: 3;
    padding: 10px;
    font-size: 2rem;
    border-left: solid 1rem var(--console-green);
    padding: 30px 0px 30px 30px;
    
}

